* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*NavBar*/

#navbar {
    height: 8rem;
    background-color: rgb(0, 0, 0);
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    color: white;
}